<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pokedex</title>
</head>
<body>
  <div class="container">
    <h1>Pokedex!</h1>
    <table>
      <thead>
        <th>Image</th>
        <th>Pokedex_number</th>
        <th>Name</th>
        <th>Speed</th>
        <th>Special Defence</th>
        <th>Special Attack</th>
        <th>Defence</th>
        <th>Attack</th>
        <th>HP</th>
        <th>Primary Type</th>
        <th>Secondary Type</th>
        <th></th>
      </thead>
      <tbody>
        <tr th:each="pokemon : ${pokemons}">
          <td th:text="${pokemon.pokedex_number}"></td>
          <td th:text="${pokemon.name}"></td>
          <td th:text="${pokemon.speed}"></td>
          <td th:text="${pokemon.special_defence}"></td>
          <td th:text="${pokemon.special_attack}"></td>
          <td th:text="${pokemon.defence}"></td>
          <td th:text="${pokemon.attack}"></td>
          <td th:text="${pokemon.hp}"></td>
          <td th:text="${pokemon.primary_type}"></td>
          <td th:text="${pokemon.secondary_type}"></td>
        </tr>
      </tbody>
    </table>
  </div>



</body>
</html>